<main xmlns:th="http://www.w3.org/1999/xhtml" xmlns:align="http://www.w3.org/1999/xhtml">
    <div class="container body-content span=8">

        <img class="col-md-12" src="http://i.imgur.com/KmHsp4p.jpg" alt="IndexLogo"
             style="background-size: contain;position: relative;top: -25px"/>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <div class="col-md-4">
            <div class="jumbotron" style="padding: 20px">
                <img src="http://i.imgur.com/kFPvKSL.jpg" alt="RegisterIcon"
                     style="width: 310px; height: 310px"/>
                <p align="center" style="position:relative;top: +25px">Step One</p>
                <h2 align="center" >Register</h2>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron" style="padding: 20px">
                <img src="http://i.imgur.com/vi4lHp4.jpg" alt="PaperIcon"
                     style="width: 310px; height: 310px"/>
                <p align="center" style="position:relative;top: +25px">Step Two</p>
                <h2 align="center" >Make a request</h2>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron" style="padding: 20px">
                <img src="http://i.imgur.com/8KXFFNe.jpg" alt="DeliveryIcon"
                     style="width: 310px; height: 310px"/>
                <p align="center" style="position:relative;top: +25px">Step Three</p>
                <h2 align="center" >Get your order</h2>
            </div>
        </div>

        <div class="panel panel-primary col-md-12">
            <div class="panel-heading">
                <h3 class="panel-title" align="center">our products.</h3>
            </div>
            <div class="panel-body">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h1 class="panel-title">Books</h1>
                    </div>
                    <div class="panel-body">
                        <div class="container col-md-12" style="padding: 15px">
                            <div class="well-lg col-md-4" style="background-color: #2a323a">
                                <img src="http://i.imgur.com/Qo1S9zn.png" alt="Book 1" style="width: 290px;length: 290px"/>
                            </div>
                            <div class="well-lg col-md-1"></div>
                            <div class="well-lg col-md-7" style="background-color: #2a323a">
                                <h2 align="center">Програмиране=++Алгоритми;</h2>
                                <br/>
                                <br/>
                                <br/>
                                <p>Книга написана от Преслав Наков и Панайот Добриков която обхваща различни
                                математични алгоритми и дава практични примери за това как те могат да бъдат използвани
                                в програмирането.</p>
                                <br/>
                                <p>Цена : 15 лв.</p>
                                <p>Сериен номер : #00001</p>
                            </div>
                        </div>
                        <div class="container col-md-12" style="padding: 15px">
                            <div class="well-lg col-md-4" style="background-color: #2a323a">
                                <img src="http://i.imgur.com/mjwjHjb.png" alt="Book 2" style="width: 290px;length: 290px"/>
                            </div>
                            <div class="well-lg col-md-1"></div>
                            <div class="well-lg col-md-7" style="background-color: #2a323a">
                                <h2 align="center">Въведение в програмирането с JAVA</h2>
                                <br/>
                                <br/>
                                <br/>
                                <p>Книга написана от Светлин Наков с която можете да започнете да учите Java на
                                базистно ниво както и да ви даде знания с които можете да започнете работа. Ако
                                търсите уроци за JAVA, това е Вашият избор!</p>
                                <br/>
                                <p>Цена : 14.99 лв.</p>
                                <p>Сериен номер : #00002</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h1 class="panel-title">Notebooks</h1>
                    </div>
                    <div class="panel-body">
                        <div class="container col-md-12" style="padding: 15px">
                            <div class="well-lg col-md-4" style="background-color: #2a323a">
                                <img src="http://i.imgur.com/nUtbT3A.png" alt="Notebook 1" style="width: 290px;length: 290px"/>
                            </div>
                            <div class="well-lg col-md-1"></div>
                            <div class="well-lg col-md-7" style="background-color: #2a323a">
                                <h2 align="center">Синя тетрадка</h2>
                                <br/>
                                <p>Официална тетрадка на СофтУни.</p>
                                <p>Синя с логото на университета</p>
                                <p>100 листа. А4 формат. Спирала</p>
                                <br/>
                                <br/>
                                <p>Цена : 3.50 лв.</p>
                                <p>Сериен номер : #00003</p>
                            </div>
                        </div><div class="container col-md-12" style="padding: 15px">
                        <div class="well-lg col-md-4" style="background-color: #2a323a">
                            <img src="http://i.imgur.com/0RtufbS.png" alt="Book 1" style="width: 290px;length: 290px"/>
                        </div>
                        <div class="well-lg col-md-1"></div>
                        <div class="well-lg col-md-7" style="background-color: #2a323a">
                            <h2 align="center">Бяла тетрадка</h2>
                            <br/>
                            <p>Официална тетрадка на СофтУни.</p>
                            <p>Бяла с логото на университета и надпис.</p>
                            <p>100 листа. А4 формат. Спирала</p>
                            <br/>
                            <br/>
                            <p>Цена : 4.50 лв.</p>
                            <p>Сериен номер : #00004</p>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h1 class="panel-title">Shirts</h1>
                    </div>
                    <div class="panel-body">
                        <div class="container col-md-12" style="padding: 15px">
                            <div class="well-lg col-md-4" style="background-color: #2a323a">
                                <img src="http://i.imgur.com/PyRhzwa.png" alt="Shirt 1" style="width: 290px;length: 290px"/>
                            </div>
                            <div class="well-lg col-md-1"></div>
                            <div class="well-lg col-md-7" style="background-color: #2a323a">
                                <h2 align="center">Бяла тениска с щампа</h2>
                                <br/>
                                <p>Цвят : Бял</p>
                                <p>Материал : Памук</p>
                                <p>Надпис : I want to change the world, but they wouldn't give me the source code</p>
                                <br/>
                                <br/>
                                <p>Цена : 19.99 лв.</p>
                                <p>Сериен номер : #00005</p>
                            </div>
                        </div>
                        <div class="container col-md-12" style="padding: 15px">
                            <div class="well-lg col-md-4" style="background-color: #2a323a">
                                <img src="http://i.imgur.com/rka0NO8.png" alt="Shirt 2" style="width: 290px;length: 290px"/>
                            </div>
                            <div class="well-lg col-md-1"></div>
                            <div class="well-lg col-md-7" style="background-color: #2a323a">
                                <h2 align="center">Тъмно синя тениска с щампа</h2>
                                <br/>
                                <p><strong>Цвят :</strong> Тъмно син</p>
                                <p><strong>Материал :</strong> Памук</p>
                                <p><strong>Надпис :</strong> AL*GO*RITHM </p>
                                <p>N.Word used by programmers when they don't want to explain what they did.</p>
                                <br/>
                                <p><strong>Цена :</strong> 19.99 лв.</p>
                                <p><strong>Сериен номер :</strong> #00006</p>
                            </div>
                        </div>
                        <div class="container col-md-12" style="padding: 15px">
                            <div class="well-lg col-md-4" style="background-color: #2a323a">
                                <img src="http://i.imgur.com/akNWN3L.png" alt="Shirt 3" style="width: 290px;length: 290px"/>
                            </div>
                            <div class="well-lg col-md-1"></div>
                            <div class="well-lg col-md-7" style="background-color: #2a323a">
                                <h2 align="center">Сива тениска с щампа</h2>
                                <br/>
                                <p>Цвят : Тъмно син</p>
                                <p>Материал : Памук</p>
                                <p>Надпис : UNLEASH THE FURY</p>
                                <p>CAPS LOCK</p>
                                <br/>
                                <p>Цена : 19.99 лв.</p>
                                <p>Сериен номер : #00007</p>
                            </div>
                        </div>
                        <div class="container col-md-12" style="padding: 15px">
                            <div class="well-lg col-md-4" style="background-color: #2a323a">
                                <img src="http://i.imgur.com/WQQ32nM.png" alt="Shirt 4" style="width: 290px;length: 290px"/>
                            </div>
                            <div class="well-lg col-md-1"></div>
                            <div class="well-lg col-md-7" style="background-color: #2a323a">
                                <h2 align="center">Тъмно синя тениска с щампа</h2>
                                <br/>
                                <p>Цвят : Тъмно син</p>
                                <p>Материал : Памук</p>
                                <p>Надпис : Code Wizard</p>
                                <br/>
                                <br/>
                                <p>Цена : 19.99 лв.</p>
                                <p>Сериен номер : #00008</p>
                            </div>
                        </div>
                        <div class="container col-md-12" style="padding: 15px">
                            <div class="well-lg col-md-4" style="background-color: #2a323a">
                                <img src="http://i.imgur.com/E3iVgxT.png" alt="Shirt 5" style="width: 290px;length: 290px"/>
                            </div>
                            <div class="well-lg col-md-1"></div>
                            <div class="well-lg col-md-7" style="background-color: #2a323a">
                                <h2 align="center">Блатиста тениска с щампа</h2>
                                <br/>
                                <p>Цвят : Блатист</p>
                                <p>Материал : Памук</p>
                                <p>Надпис : PRO*GRAM*MER</p>
                                <p>N.An organism that turns coffee into code</p>
                                <br/>
                                <p>Цена : 19.99 лв.</p>
                                <p>Сериен номер : #00009</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" th:each="category : ${categories}">
                <header>
                    <h2>
                        <a th:href="@{/category/{id}(id=${category.id})}" th:text="${category.name + ' (' + #sets.size(category.articles) + ')'}">
                        </a>
                    </h2>
                </header>
            </div>
        </div>
    </div>
</main>